<h3>Edit Ticket Entry</h3>
<% div = "ticket_entry_"+@ticket_entry.id.to_s %>
<% loading = '$("div#'+div+'").wrap("<div></div>");$("div#'+div+'").parent().slideUp(500)' %>
<% complete = 'var div = $("div#'+div+'").parent();div.load("/ticket_entries/'+@ticket_entry.id.to_s+'");div.slideDown(500);' %>
<% form_remote_for(@ticket_entry, :loading => loading, :complete => complete) do |f| %>
  <table class="m">
    <tr>
      <td class="first">Entry Type</td><td><%= f.select :entry_type, ["Work Done", "Research", "Note", "HowTo"] %></td>
      <td class="first">Billable</td><td><%= f.check_box :billable %></td>
      <td class="first">Private</td><td><%= f.check_box :private %></td>
    </tr>
    <tr>
      <td class="first">Time Spent</td><td><%= f.text_field :time, :title => "minutes", :class => "short_field" %></td>
      <td class="first">Labor Type</td><td><%= f.select :labor_type, ["Onsite", "Instore", "Remote", "System Build", "Warranty"], :include_blank => true %></td>
      <td class="first">Drive Time</td><td><%= f.text_field :drive_time, :title => "minutes", :class => "short_field" %></td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="new_ticket_entry_note">Notes</td>
      <td class="new_ticket_entry_parts">Parts</td>
    </tr>
    <tr>
      <td class="new_ticket_entry_note"><%= f.text_area :note %></td>
      <td class="new_ticket_entry_parts"><%= f.text_area :parts %></td>
    </tr>
  </table>
  <p><%= f.submit "Save" %></p>
<% end %>

