<table id="device_details" class="m">
  <tr>
    <td class="first">Service Tag:</td><td><%= @device.service_tag %></td>
  </tr>
  <tr>
    <td class="first">Device Name:</td><td><%= @device.name %></td>
  </tr>
  <tr>
    <td class="first">Owner:</td><td><%= link_to @device.client.fullname, "/clients/"+@device.client.id.to_s %></td>
  </tr>
</table>

<div id="device_content">
  <ul>
    <li class="ui-tabs-nav-item"><a href="#description" title="description">Description</a></li>
    <li class="ui-tabs-nav-item"><a href="#tickets" title="tickets">Tickets</a></li>
    <li class="ui-tabs-nav-item"><a href="#checklists" title="checklists">Checklists</a></li>
  </ul>
  
  <div id="description">
    <div class="ui-tabs-panel-padding"><%= textile_to_html(@device.description) %></div>
  </div>

  <div id="tickets">
    <ul class="toolbar">
      <li><a href="#" class="new_ticket">New Ticket</a></li>
    </ul>
    <div id="new_ticket" class="hide toolbox">
      <%= render :partial => 'shared/new_ticket', :locals => {:client => @client} %>
    </div>
    <h3>Tickets Associated With This Device</h3>
    <table class="itu">
      <tr><th>Description</th><th>Owner</th><th>Technician</th><th>Status</th></tr>
      <% @device.tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.description[0...60], "/tickets/#{ticket.id}" %></td>
          <td><%= link_to ticket.owner.fullname, "/tickets/#{ticket.id}" %></td>
          <td><%= link_to ticket.technician.name, "/tickets/#{ticket.id}" %></td>
          <td><%= link_to ticket.status, "/tickets/#{ticket.id}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="checklists">
    <ul class="toolbar">
      <li><a href="#" class="add_checklist">Add Checklist</a></li>
    </ul>
    <div id="add_checklist_form" class="hide toolbox">
      <h3>Add A Checklist</h3>
      <div class="ui-tabs-panel-padding">
        <% form_for Checklist.new do |f| -%>
          <%= f.select :checklist_template_id, ChecklistTemplate.find(:all).collect {|c| [c.name, c.id]} %>
          <%= f.hidden_field :device_id, :value => @device.id %>
          <%= f.submit "Save" %>
        <% end %>
      </div>
    </div>
    <h3>Device Checklists</h3>
    <table class="itu" id="checklists">
      <tr><th>Name</th><th>Service Tag</th><th>Completed</th></tr>
      <% @device.checklists.each do |checklist| %>
        <tr>
          <td><a href="#" alt="<%= checklist.id %>"><%= checklist.name %></a></td>
          <td><a href="#" alt="<%= checklist.id %>"><%= checklist.device.service_tag %></a></td>
          <td></td>
        </tr>
      <% end %>
    </table>
    <div id="checklist" class="hide"></div>
  </div>

</div>

<script>
  $(document).ready(function() {
    // Load other content and create tabs
    $("#device_content > ul").tabs();
    $("#center div.ui-tabs-panel table.itu").wrap("<div></div>").parent().addClass("ui-tabs-panel-padding");
    // add checklist to this device
    $("a.add_checklist").bind("click", function(){
      $("div#add_checklist_form").slideDown(500);
    });
    // show checklist on click
    $("#checklists table a").bind("click", function(){
      var checklistURL = "/checklists/"+$(this).attr("alt")+"/edit"
      $("#checklist").slideUp(500);
      $("#checklist").load(checklistURL, function(){
        $("#checklist").slideDown(500);
      });
    });
    // add edit button to footer
    $("#footer div.col2").append("<a href='/devices/<%= @device.id %>/edit' class='edit'>Edit</a>");
    // setup new ticket form
    $("#tickets a.new_ticket").bind("click", function(){
      $("#new_ticket").slideDown(500);
    })
    // Change submit url
  	$("#new_ticket form").attr("action", "/devices/"+<%= @device.id %>+"/tickets/");
  });
</script>