<% @user.password = @user.password_confirmation = nil %>
<% form_for @user do |f| %>
	<p>Name: <%= f.text_field :name, :value => @client.fullname %></p>
	<p>Email: <%= f.select :email, @client.emails.collect {|c| [c.address]} %></p>
	<p>Role: not functional yet, always creates a technician currently</p>

	<%= f.hidden_field :client_id, :value => @client.id %>
	<%= f.hidden_field :password, :value => @random %>
	<%= f.hidden_field :password_confirmation, :value => @random %>
	<p><%= submit_tag 'Create User' %></p>

<% end %>
