<% form_for Ticket.new(:client => @client, :user => current_user) do |f| -%>
  <table class="m">
    <tr><td class="first">Client:</td><td><%= f.select :client_id, Client.find(:all).collect {|c| [c.fullname, c.id]}, :include_blank => true %></td><tr>
    <tr><td class="first">Technician:</td><td><%= f.select :user_id, User.find(:all).collect {|c| [c.name, c.id]} %></td></tr>
    <tr><td class="first">Scheduled For:</td><td><%= f.text_field :active_on, :value => Date.today.strftime("%m/%d/%Y") %></td></tr>
  </table>
  <div class="line"></div>
  <h3>Description:</h3>
  <p><%= f.text_area :description %></p>
  <%= f.submit "Create Ticket" %>
<% end %>

<script>
  $(document).ready(function() {
    // add quickselects for client and technician
    $("#ticket_client_id").quickselect({
  		delay:10,
  		minChars:1,
  		match:'quicksilver',
  		maxItemsToShow:12
  	});
  	$("#ticket_user_id").quickselect({
  		delay:10,
  		minChars:1,
  		match:'quicksilver',
  		maxItemsToShow:12
  	});
  	// create datepicker widget
    $("#ticket_active_on").datepicker();
	});
</script>