<% form_for @client, :html => { :multipart => true } do |f| -%>
    <div id="names" class="edit">
      <h2 class="person_name"><%= f.text_field :firstname, :title => "First Name" %> <%= f.text_field :lastname, :title => "Last Name" %></h2>
      <h2 class="company_name"><%= f.text_field :name, :title => "Company Name" %></h2>
      <h3 class="company_select">Belongs To: <%= f.select :belongs_to, Client.find(:all, :conditions => {:company => true}).collect {|c| [c.name, c.id]}, {:include_blank => ''} %></h3>
      <h3 class="is_a_company">Company? <%= f.check_box :company %></h3>
    </div>
    <div id="picture"><p>Avatar: <%= f.file_field :mugshot %></p></div>
    <div id="details" class="edit">
      <table id="phones" class="">
        <thead>
          <tr>
            <th class="add"><a href="#" class="add_phone"><%= image_tag("/images/icons/add.png") %></a></th>
            <th class="context">Phone</th>
            <th>Numbers</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'phone', :object => Phone.new(:client => @client) %>
          <%= render :partial => 'phone', :collection => @client.phones %>
        </tbody>
      </table>
      <table id="emails" class="">
        <thead>
          <tr>
            <th class="add"><a href="#" class="add_email"><%= image_tag("/images/icons/add.png") %></a></th>
            <th class="context">Email</th>
            <th>Addresses</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'email', :object => Email.new(:client => @client) %>
          <%= render :partial => 'email', :collection => @client.emails %>
        </tbody>
      </table>
      <table id="addresses" class="">
        <thead>
          <tr>
            <th class="add"><a href="#" class="add_address"><%= image_tag("/images/icons/add.png") %></a></th>
            <th class="context">Street</th>
            <th>Addresses</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'address', :object => Address.new(:client => @client) %>
          <%= render :partial => 'address', :collection => @client.addresses %>
        </tbody>
      </table>
      <%= f.submit "Save", :class => "hide" %>
    </div>
<% end %>

<script>
  function remove_empty_fields(){
    // fix form saves so that empty boxes don't get saved :-)
    $("#details input").each(function(){
      if ($(this).attr("value") == "") {
        $(this).parent().parent().remove();
      };
      if ($(this).attr("value") == null) {
        $(this).parent().parent().remove();
      };
    });
  };
  $(document).ready(function() {
    // Add in my Edit and Save buttons
    $("#footer div.col2").append("<a href='#' class='save_client'>Save</a>");
    $("#footer a.save_client").bind("click", function(){
      remove_empty_fields();
      // save form
      $("#client input[type=submit]").click();
    });
    $("#client form").bind("submit", function(){
      remove_empty_fields();
    });
    // blur titles, go to full on text when entered
    $("#names input[@type=text]").each( function() {
      if ($(this).val() == "") {
        $(this).addClass("blur");      
      }
      $(this).hint();
    });
    // swap around fields when is or is not a company
    if ($("#client h3.is_a_company input").attr("checked")) { 
      $("#client h2.person_name").addClass("hide")
      $("#client h3.company_select").addClass("hide")
    } else {
      $("#client h2.company_name").addClass("hide")
    };
    $("#client h3.is_a_company input").click( function() {
      if ($("#client h3.is_a_company input").attr("checked")) {
       $("#client h2.person_name").addClass("hide")  
      $("#client h2.company_name").removeClass("hide")     
      $("#client h3.company_select").addClass("hide")
      } else {
       $("#client h2.person_name").removeClass("hide")
       $("#client h2.company_name").addClass("hide")     
       $("#client h3.company_select").removeClass("hide")
      }
    });
    $("#client_belongs_to").quickselect({
  		delay:10,
  		minChars:1,
  		match:'quicksilver',
  		maxItemsToShow:12
  	});
    // setup add row functionality
    $("#details table tbody tr:first-child").addClass("hide");
    $("table#phones a.add_phone").bind("click", function(){
      $("table#phones tbody tr:first").clone().removeClass("hide").appendTo("table#phones tbody");
    });
    $("table#emails a.add_email").bind("click", function(){
      $("table#emails tbody tr:first").clone().removeClass("hide").appendTo("table#emails tbody");
    });
    $("table#addresses a.add_address").bind("click", function(){
      $("table#addresses tbody tr:first").clone().removeClass("hide").appendTo("table#addresses tbody");
    });
	});
</script>