<div class="mugshot"><%= image_tag @client.mugshot.url(:avatar) %></div>
<h2 class="fullname" title="<%= @client.fullname %>" alt="<%= @client.id %>"><%= @client.fullname %></h2>
<h3 class="company_name"><%= @client.company_name %></h3>

<div id="client_content">
  <ul>
    <li class="ui-tabs-nav-item"><a href="#details" title="details">Details</a></li>
    <li class="ui-tabs-nav-item"><a href="#tickets" title="tickets">Tickets</a></li>
    <li class="ui-tabs-nav-item"><a href="#devices" title="devices">Devices</a></li>
    <% if my_account(@client) %><li class="ui-tabs-nav-item"><a href="/users/<%= current_user.id %>" title="#myaccount">My Account</a></li><% end %>
  </ul>
  <div id="details">
    <table>
      <tr>
        <th class="context">Phone</th><th>Number</th>
      </tr>
      <% @client.phones.each do |phone| %>
        <tr>
          <td class="context"><%= phone.context %></td><td><%= phone.number %></td>
        </tr>
      <% end %>
    </table>
    <table>
      <tr>
        <th class="context">Email</th><th>Address</th>
      </tr>
      <% @client.emails.each do |email| %>
        <tr>
          <td class="context"><%= email.context %></td><td><%= email.address %></td>
        </tr>
      <% end %>
    </table>
    <table>
      <tr>
        <th class="context">Street</th><th>Address</th>
      </tr>
      <% @client.addresses.each do |address| %>
        <tr>
          <td class="context"><%= address.context %></td><td><%= address.full_address %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="tickets">
    <table class="hover">
      <tr><th>Description</th><th>Technician</th><th>Status</th></tr>
      <% @client.open_tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.description[0...60], "/tickets/#{ticket.id}" %></td>
          <td><%= link_to ticket.technician.name, "/tickets/#{ticket.id}" %></td>
          <td><%= link_to ticket.status, "/tickets/#{ticket.id}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="devices">stuff 3</div>
</div>