<div id="client">
  <div id="picture"></div>
  <%- if @client.company == true %>
    <h2><%= @client.name %></h2>
  <%- elsif @client.company == false %>
    <h2><%= @client.fullname %></h2>
    <h3><%= @client.company_name %></h3>
  <%- end %>
  <div id="details">
    <table id="phones">
      <tr>
        <td class="edit"></td>
        <td class="context">Phone</td>
        <td class="content"><b>Numbers</b></td>
      </tr>
      <%- @client.phones.each do |phone| %>
        <tr>
          <td class="edit">
          </td>
          <td class="context"><%= phone.context%></td>
          <td class="content"><%= phone.number %></td>
        </tr>
      <%- end %>
    </table>
    <table id="emails">
      <tr>
        <td class="edit"></td>
        <td class="context">Email</td>
        <td class="content"><b>Addresses</b></td>
      </tr>
      <%- @client.emails.each do |email| %>
        <tr>
          <td class="edit">
          </td>
          <td class="context"><%= email.context%></td>
          <td class="content"><%= email.address %></td>
        </tr>
      <%- end %>
    </table>
    <table id="addresses">
      <tr>
        <td class="edit"></td>
        <td class="context">Street</td>
        <td class="content"><b>Addresses</b></td>
      </tr>
      <%- @client.addresses.each do |address| %>
        <tr>
          <td class="edit">
          </td>
          <td class="context"><%= address.context%></td>
          <td class="content"><%= address.full_address %></td>
        </tr>
      <%- end %>
    </table>
    <%= link_to "Edit", edit_client_path, :class => "edit" %>
  </div>
</div>
<div id="client_notes">
  <h2 class="note">Notes</h2>
  <%= @client_notes.to_html %>
</div>