<div id="client<%= @client.id.to_s %>" class="panel client">
  <div class="toolbar">
    <h1>Client</h1>
    <a class="back button" href="#">Back</a>
    <a class="button" id="infoButton" href="#home">Home</a>
  </div>
  <div id="clientHeader">
    <%= image_tag @client.mugshot.url(:avatar) %>
    <h2 id="fullname"><%= @client.fullname %></h2>
    <h3 id="company"><%= @client.company_name %></h3>
  </div>
  <div class="pad">
    <% if @client.phones.length != 0 || @client.emails.length != 0 || @client.addresses.length != 0 %>
      <fieldset class="ss">
      <% if @client.phones.length != 0 %>
        <% @client.phones.each do |phone| %>
          <div class="row">
            <label><%= phone.context %>:</label>
            <span><a href="tel:<%= phone.number %>"><%= phone.number %></a></span>
          </div>
        <% end %>
      <% end %>
      <% if @client.emails.length != 0 %>
        <% @client.emails.each do |email| %>
          <div class="row">
            <label><%= email.context %>:</label>
            <span><a href="mailto:<%= email.address %>"><%= email.address[0..20] %></a></span>
          </div>
        <% end %>
      <% end %>
      <% if @client.addresses.length != 0 %>
        <% @client.addresses.each do |address| %>
          <div class="row">
            <label><%= address.context %>:</label>
            <span><a href="http://maps.google.com/maps?q=<%= address.full_address %>"><%= address.full_address[0..20] %></a></span>
          </div>
        <% end %>
      <% end %>
      </fieldset>
    <% end %>

    <% if @client.note != nil && @client.note != "" %>
      <h2>Notes</h2>
      <div class="textbox">
        <%= textile_to_html(@client.note) %>
      </div>
    <% end %>
    
    <% if @client.tickets.length != 0 %>
      <a href="/iphone/clients/<%= @client.id %>/tickets" class="grayButton">Tickets</a>
    <% end %>
    <br />
    <% if @client.devices.length != 0 %>
      <a href="/iphone/clients/<%= @client.id %>/devices" class="grayButton">Devices</a>
    <% end %>
  </div>

</div>