<% form_for @ticket do |f| -%>
  <h3>Belongs To: <%= f.select :client_id, @clients.collect {|c| [c.fullname, c.id]} %></h3>
  <h3>Assigned To: <%= f.select :user_id, @users.collect {|c| [c.username, c.id]} %></h3>
  <h3>Group: <%= f.select :group, ["Sales", "Service", "Billing"] %></h3>
  <h3>Status: <%= f.select :status, ["Open", "Scheduled", "Completed", "Archived"] %></h3>
  <h3>Description:</h3>
  <p><%= f.text_area :description, :rows => 6 %></p>
  <%= f.submit "Save" %>
<% end %>