<div id="tickets">
  <table total="<%= @tickets.length %>" class="hover">
    <tr><th class="first">Id</th><th>Description</th><th>Client</th><th>Technician</th><th>Status</th></tr>
    <% @tickets.each do |ticket|  %>
      <tr class="ticket" title="<%= "#{ticket.description}" %>" alt="<%= ticket.id %>">
        <td class="first"><a href="/tickets/<%= ticket.id %>"><%= ticket.id %></a></td>
        <td><a href="/tickets/<%= ticket.id %>"><%= ticket.description[0...80] + "..." %></a></td>
        <td><a href="/tickets/<%= ticket.id %>"><%= ticket.client.fullname %></a></td>
        <td><a href="/tickets/<%= ticket.id %>"><%= ticket.user.name %></a></td>
        <td><%= ticket.status %></td>
      </tr>
    <% end %>
  </table>
</div>