<div id="ticket" alt="<%= @ticket.id %>" completed="<%= @ticket.completed_on %>" archived="<%= @ticket.archived_on %>" ticket_id="<%= @ticket.id %>" current_user="<%= current_user.id %>">
  <table class="table-style1">
    <tr><td class="first">Ticket:</td><td><%= @ticket.id %></td></tr>
    <tr><td class="first">Client:</td><td><%= link_to @ticket.client.fullname, "/clients/"+@ticket.client.id.to_s %></td><tr>
    <tr><td class="first">Technician:</td><td><%= link_to @ticket.technician.name, "/clients/"+@ticket.technician.client_id.to_s %></td></tr>
    <tr><td class="first">Status:</td><td><%= @ticket.status %></td></tr>
  </table>
  <div class="description">
    <b>Description:</b> <%= textile_to_html(@ticket.description) %>
  </div>

  <div id="ticket_content">
    <ul>
      <li class="ui-tabs-nav-item"><a href="#entries" title="entries">Entries</a></li>
      <li class="ui-tabs-nav-item"><a href="#devices" title="devices">Devices</a></li>
      <li class="ui-tabs-nav-item"><a href="#files" title="files">Files</a></li>
    </ul>
    
    <div id="entries"></div>
    <div id="devices">
      <h4>On this ticket</h4>
      <table class="hover">
        <tr><th>Name</th><th>Service Tag</th><th>Action</th></tr>
        <% @ticket.devices.each do |device| %>
          <tr>
            <td><%= device.name %></td>
            <td><%= device.service_tag %></td>
            <td><%= link_to "Remove", "/tickets/#{@ticket.id}/devices/#{device.id}/remove_from_ticket" %></td>
          </tr>
        <% end %>
      </table>
      <h4>Available</h4>
      <table class="hover">
        <tr><th>Name</th><th>Service Tag</th><th>Action</th></tr>
        <% @devices.each do |device| %>
          <tr>
            <td><%= device.name %></td>
            <td><%= device.service_tag %></td>
            <td><%= link_to "Add", "/tickets/#{@ticket.id}/devices/#{device.id}/add_to_ticket" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="files"></div>
    
  </div>
  
  <div id="complete" class="hide">
    <% form_for @ticket do |f| -%>
      <%= f.text_field :completed_on, :value => Date.today.strftime("%m/%d/%Y") %>
      <%= f.submit "Save" %>
    <% end %>
  </div>
  <div id="archive" class="hide">
    <% form_for @ticket do |f| -%>
      <%= f.text_field :archived_on, :value => Date.today.strftime("%m/%d/%Y") %>
      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>
<br />
<br />