<% if @devices.length == 0 %>
  <% form_tag "/iphone/devices", :method => "get", :class => "panel", :title => "Search", :selected => "true" do %>
    <fieldset>
      <div class="row">
        <label>Query:</label>
        <%= text_field_tag :q %>
      </div>
    </fieldset>
    <input name="commit" type="submit" value="Search" />
  <% end %>
<% else %>
  <ul id="searchResults" class="devices" title="Results" selected="true">
    <% @devices.each do |device| %>
      <li>
        <a href="/iphone/devices/<%= device.id %>">
          <span><%= device.service_tag %></span>
          <table>
            <tr><td>Name:</td><td><%= device.name %></td></tr>
            <tr><td>Client:</td><td><%= device.client.fullname %></td></tr>
          </table>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>