<div class="panel" title="Ticket #<%= @ticket.id %>" selected="true">
  <h2>Description</h2>
  <div class="textbox">
    <%= textile_to_html(@ticket.description) %>
  </div>
  <h2>Details</h2>
  <fieldset>
    <div class="row">
      <label>Client:</label>
      <span><a href="/iphone/clients/<%= @ticket.client.id %>"><%= @ticket.client.fullname[0..20] %>...</a></span>
    </div>
    <div class="row">
      <label>Tech:</label>
      <span><a href="/iphone/clients/<%= @ticket.technician.client_id.to_s %>"><%= @ticket.technician.name %></a></span>
    </div>
    <div class="row">
      <label>Status:</label>
      <span><%= @ticket.status %></span>
    </div>
  </fieldset>
  <h2>Notes</h2>
  <div class="textbox">
    <% TicketEntry.find(:all, :conditions => {:ticket_id => @ticket.id, :detail => 1}).each do |entry| %>
      <div class="ticket_entry">
        <%= image_tag entry.creator.avatar.url(:avatar) %>
        <span class="byline"><b><%= entry.creator.name %></b> <%= entry.updated_at.strftime("%H:%M %m/%d/%Y") %></span>
        <span class="te_details">Time: <b><%= entry.time %>min</b> Type: <b><%= entry.labor_type %></b><br />Billable? <b><%= billable(entry) %></b> Private? <b><%= is_this_private(entry) %></b></span>
        <div class="te_note"><%= textile_to_html(entry.note) %></div>
        <% if entry.parts != "" %>
          <h3 class="te-parts">Parts</h3>
          <div class="te_parts"><%= textile_to_html(entry.parts) %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>