<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <title>Suite</title>
    <%= javascript_include_tag "jquery", "jquery-ui" %>
    <%= javascript_include_tag "jquery.metadata", "quicksilver", "jquery.quickselect", "jquery.livesearch", "jquery.scrollTo" %>
    <%= javascript_include_tag "common", "clients" %>
		<%= stylesheet_link_tag "blueprint/screen", "jquery-theme", "common", "clients", :media => "screen", :cache => "clients-css-combined" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>

    <div id="header">
      <h1 class="hide">Know My Clients</h1>
      <ul>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/devices">Devices</a></li>
        <li><a href="/checklist_templates">Checklists</a></li>
      </ul>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="sidebar">
      <div id="applesearch"><span class="sbox_l"></span><span class="sbox"><input type="search" id="srch_fld" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="applesearch.onChange('srch_fld','srch_clear')" /></span><span class="sbox_r" id="srch_clear"></span></div>
      <h2>Clients</h2>
      <ul class="itu" id="clients">
        
      </ul>
    </div>
    
    <div id="center" class="container">
      <div id="client">
        <%= yield %>
      </div>
    </div>
    
    <div id="footer">
      <div class="col1">
        <%= link_to "New", "/clients/new" %>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
  </body>
</html>