<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <title>Suite</title>
    <%= javascript_include_tag "jquery", "jquery-ui" %>
    <%= javascript_include_tag "jquery.metadata", "quicksilver", "jquery.quickselect", "strftime" %>
    <%= javascript_include_tag "common", "devices" %>
		<%= stylesheet_link_tag "blueprint/screen", "jquery-theme", "common", "settings", :media => "screen", :cache => "devices-css-combined" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div id="header">
      <h1 class="hide">Suite Configuration</h1>
      <ul>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/devices">Devices</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/reports">Reports</a></li>
      </ul>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    
    <div id="sidebar" class="sidebar-list">
      <h2>Settings</h2>
      <ul id="configuration" class="itu">
        <li><a href="/checklist_templates" class="checklist_template_configuration">Checklist Templates</a></li>        
        <li><a href="/device_types" class="device_type_configuration">Device Types</a></li>
        <li><a href="/schedules" class="schedules_configuration">Schedules</a></li>
        <li><a href="/goggles" class="goggles_configuration">Goggles</a></li>
      </ul>
    </div>
    <div id="center" class="container">
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="col1">
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
  </body>
</html>