<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <title>Suite</title>
    <%= javascript_include_tag "jquery", "jquery-ui" %>
    <%= javascript_include_tag "jquery.metadata", "quicksilver", "jquery.quickselect" %>
    <%= javascript_include_tag "common", "tickets" %>
		<%= stylesheet_link_tag "blueprint/screen", "jquery-theme", "common", "tickets", :media => "screen", :cache => true %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body class="container">

    <div id="header">
      <h1 class="hide">Opportunity Tickets</h1>
      <ul>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/devices">Devices</a></li>
        <li><a href="/checklist_templates">Checklists</a></li>
      </ul>
    </div>
    
    <div id="sidebar">
      <h2>Tickets</h2>
      <ul class="m">
        <li><a href="/tickets/?status=open&scope=user" class="open">Open</a><%= totals_helper(:open) %></li>
        <li><a href="/tickets/?status=scheduled&scope=user" class="scheduled">Scheduled</a><%= totals_helper(:scheduled) %></li>
        <li><a href="/tickets/?status=completed&scope=user" class="completed">Completed</a><%= totals_helper(:completed) %></li>
        <li><a href="/tickets/?status=all" class="all">All</a><%= totals_helper(:all) %></li>                              
        <li><a href="/tickets/?status=archived" class="archived">Archived</a></li>
      </ul>
    </div>
    
    <div id="center">
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="col1">
        <%= link_to "New", "/tickets/new" %>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
  </body>
</html>