<div id="content_search">
  <% form_tag "/report/time_sheet", :method => "get" do %>
    <p>
      <label>Start Date:</label>
      <%= text_field_tag :start_date, @start_date %>
      <label>End Date:</label>
      <%= text_field_tag :end_date, @end_date %>
      <%= submit_tag "Run report" %>
    </p>
  <% end %>
</div>

<% if @technicians %>
  <table class="itu">
    <thead>
      <tr><th class="first">Technician</th><th>Onsite</th><th>Instore</th><th>Remote</th><th>System Build</th><th>Billable</th><th>Non-Billable</th></tr>
    </thead>
    <tbody>
      <% @technicians.each do |technician| %>
        <tr>
          <td class="first"><%= technician[:name] %></td>
          <td><%= technician[:onsite]/60 %></td>
          <td><%= technician[:instore]/60 %></td>
          <td><%= technician[:remote]/60 %></td>
          <td><%= technician[:system_build]/60 %></td>
          <td><%= technician[:billable]/60 %></td>
          <td><%= technician[:non_billable]/60 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>

<script>
  $(document).ready(function() {
    // create datepicker widget
    $("#start_date").datepicker();
    $("#end_date").datepicker();
	});
</script>